@charset "utf-8";
@use "../common/params.scss" as params;
@use "../common/mixins.scss" as mixins;

//* * * * * * * * * * FuloPais * * * * * * * * * *

.fulo-mentsu-list {
  display: flex;
  flex-direction: column;
}

.fulo-mentsu {
  display: flex;

  &__pai {
    display: flex;
  }
}
