@charset "utf-8";
@use "../common/params.scss" as params;
@use "../common/mixins.scss" as mixins;

//* * * * * * * * * * HoraResultDisplay * * * * * * * * * *

.hora-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 24px;
  color: params.$color_white;
}

// 上段コンテナ
.result_upper-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .result_dora-displays {
    display: flex;

    &__wrapper {
      margin: 1rem 3rem;
    }
  }
}

// 中段コンテナ
.result_center-container {
  display: flex;
  min-height: 200px;
  width: 100%;
}

// 役一覧
.yaku-info-list {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 2rem 8rem;
  flex-wrap: wrap;
}

// 役情報
.yaku-info {
  display: flex;
  margin: 0.4rem 2rem;
  color: params.$color_white;
  font-size: 1rem;
}

// 点数
.points {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto 0 0 0;
  font-weight: 700;
}

// 下段コンテナ
.result_lower-container {
  display: flex;
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.75rem;
}

// 手牌
.result_hand {
  display: flex;

  &__already {
    display: flex;
    justify-content: center;
  }

  &__fulos {
    display: flex;
    margin: 0 1rem;

    .result_fulo-mentsu {
      margin: 0 0.5rem;
    }
  }

  &__tsumopai {
    margin: 0rem 0rem 0rem 0.5rem;
  }
}
