@charset "utf-8";
@use "../common/params.scss" as params;
@use "../common/mixins.scss" as mixins;

//* * * * * * * * * * PracticePage * * * * * * * * * *

.game {
  display: flex;
}

// 左コンテナ
.left-container {
  display: flex;
  width: 200px;
}

// 中央コンテナ
.center-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dora-displays-wrapper {
  margin: 0;
}

.kawa-wrapper {
  width: 500px;
  height: 450px;
  margin: 0rem 0rem 0rem 0rem;

  background-color: lightgreen;
}

.legal-actions {
  display: flex;
  width: 400px;
  height: 40px;
  justify-content: right;
  align-items: center;

  margin: 1rem 0;

  // background-color: pink;
}

.legal-action {
  margin: 0 0 0 2rem;
}

// 手牌
.hand_menzen {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1rem 0;
  justify-content: flex-start;

  &__already {
    display: flex;
    flex-direction: row;
  }

  &__tsumopai {
    margin: 0rem 0rem 0rem 2rem;
  }
}

// 操作ボタン
.controll-buttons {
  display: flex;
  margin: 2rem 0;
}

.controll-button {
  margin: 0rem 2rem 0rem 0rem;
}

// 右コンテナ
.right-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 280px;
}

// アシスト機能
.assist-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;

  background-color: lightcyan;

  // 受け入れ情報のリスト
  .accept-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;

    // 受け入れ情報
    .accept-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;

      // 1行目 (打牌、有効牌の種類・枚数)
      &__row1 {
        display: flex;
        align-items: center;

        // 打牌
        &__cut-pai {
          width: 25px;
          margin: 0 0 0 0.5rem;
        }

        // 有効牌の種類・枚数
        &__count {
          margin-left: 0.5rem;
        }
      }

      // 2行目 (有効牌の画像)
      &__row2 {
        display: flex;
        margin: 0.5rem 0.5rem;

        &__accepted-pai {
          width: 20px;
        }
      }
    }
  }
}

.fulo-wrapper {
  width: 280px;
  margin: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: lightblue;
}

.fulo-box {
  margin: 0.1rem 0;
}

.fulo-selector-wrapper {
  background-color: #ffffff;
}

.fulo-cancel-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

// 副露の選択エリア
.fulo-selector {
  height: 250px;
  display: flex;
  align-items: center;
}

// 副露の選択肢
.fulo-selection {
  margin: 0 1rem 0 1rem;
}
