@charset "utf-8";
@use "../common/params.scss" as params;

// * * * * * * * * * * box * * * * * * * * * *
.wrapper {
  position: relative;
  width: 100%;
}

// * * * * * * * * * * navigation * * * * * * * * * *
.nav_wrap {
  position: relative;
  width: 100%;
  min-width: params.$size_max_width;
  height: params.$size_header_height;
  top: 0;
  left: 0;
  background: params.$color_back;
}

.nav_lists {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.nav_list {
  color: params.$color_white;
  display: flex;
  align-items: center;
  border: solid params.$color_white;
  border-width: 0 1px 0 0;
  transition: all 0.3s;

  &:hover {
    background-color: params.$color_theme;
  }
}

.nav_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: params.$color_base;
  letter-spacing: 0.05em;
  font-weight: 600;
  transition: all 0.3s;
  padding: 0 2rem;

  &:hover {
    color: params.$color_white;
  }
}

// * * * * * * * * * * main * * * * * * * * * *
.main {
  min-height: calc(100vh - #{params.$size_header_height});
  overflow: hidden;
}
