@charset "utf-8";

/* 色 */
$color_white: #ffffff;
$color_gray: #3f3f3f;

$color_theme: #0071bd; // rgb(0, 113, 189)
$color_base: #1b4059; // rgb(28, 65, 90)
$color_back: #e5f0f8; // rgb(230, 240, 247)

/* 大きさ */
$size_header_height: 50px;
$size_max_width: 300px;
